USE [master]
GO
/****** Object:  Database [STUDENTMANAGEMENT]    Script Date: 5/27/2021 10:27:54 PM ******/
CREATE DATABASE [STUDENTMANAGEMENT]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'STUDENTMANAGEMENT', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.SQLEXPRESS\MSSQL\DATA\STUDENTMANAGEMENT.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'STUDENTMANAGEMENT_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.SQLEXPRESS\MSSQL\DATA\STUDENTMANAGEMENT_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [STUDENTMANAGEMENT].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [STUDENTMANAGEMENT]
GO
/****** Object:  Table [dbo].[BO_MON]    Script Date: 5/27/2021 10:27:54 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[BO_MON](
	[MA_BO_MON] [int] IDENTITY(1,1) NOT NULL,
	[TEN_BO_MON] [nvarchar](50) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[MA_BO_MON] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DAN_TOC]    Script Date: 5/27/2021 10:27:54 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DAN_TOC](
	[MA_DAN_TOC] [int] IDENTITY(1,1) NOT NULL,
	[TEN_DAN_TOC] [nvarchar](50) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[MA_DAN_TOC] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DIEM]    Script Date: 5/27/2021 10:27:54 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DIEM](
	[MA_DIEM] [int] IDENTITY(1,1) NOT NULL,
	[DIEM_SO] [float] NULL,
	[MA_QTMH] [int] NULL,
	[MA_MON_HOC] [int] NULL,
	[MA_LOAI_DIEM] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[MA_DIEM] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[GIANG_DAY]    Script Date: 5/27/2021 10:27:54 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[GIANG_DAY](
	[MA_GIANG_DAY] [int] IDENTITY(1,1) NOT NULL,
	[MA_GIAO_VIEN] [int] NULL,
	[MA_LOP] [int] NULL,
	[MA_MON_HOC] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[MA_GIANG_DAY] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[GIAO_VIEN]    Script Date: 5/27/2021 10:27:54 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[GIAO_VIEN](
	[MA_GIAO_VIEN] [int] IDENTITY(1,1) NOT NULL,
	[HO_TEN] [nvarchar](50) NULL,
	[NGAY_SINH] [date] NOT NULL,
	[GIOI_TINH] [int] NULL,
	[SO_DIEN_THOAI] [nvarchar](20) NULL,
	[EMAIL] [nvarchar](50) NULL,
	[MA_TON_GIAO] [int] NULL,
	[MA_DAN_TOC] [int] NULL,
	[MA_BO_MON] [int] NULL,
	[MA_TAI_KHOAN] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[MA_GIAO_VIEN] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[HANH_KIEM]    Script Date: 5/27/2021 10:27:54 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[HANH_KIEM](
	[MA_HANH_KIEM] [int] IDENTITY(1,1) NOT NULL,
	[TEN_HANH_KIEM] [nvarchar](20) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[MA_HANH_KIEM] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[HOC_KY]    Script Date: 5/27/2021 10:27:54 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[HOC_KY](
	[MA_HOC_KY] [int] IDENTITY(1,1) NOT NULL,
	[TEN_HOC_KY] [nvarchar](10) NULL,
	[MA_NAM_HOC] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[MA_HOC_KY] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[HOC_SINH]    Script Date: 5/27/2021 10:27:54 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[HOC_SINH](
	[MA_HOC_SINH] [int] IDENTITY(1,1) NOT NULL,
	[HO_TEN] [nvarchar](100) NOT NULL,
	[SO_DIEN_THOAI] [nvarchar](20) NULL,
	[DIA_CHI] [nvarchar](100) NOT NULL,
	[HO_TEN_CHA] [nvarchar](50) NULL,
	[HO_TEN_ME] [nvarchar](50) NULL,
	[NGAY_SINH] [date] NOT NULL,
	[MA_TON_GIAO] [int] NULL,
	[MA_DAN_TOC] [int] NULL,
	[GIOI_TINH] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[MA_HOC_SINH] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[KHOI_LOP]    Script Date: 5/27/2021 10:27:54 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[KHOI_LOP](
	[MA_KHOI_LOP] [int] IDENTITY(1,1) NOT NULL,
	[TEN_KHOI_LOP] [nvarchar](10) NULL,
PRIMARY KEY CLUSTERED 
(
	[MA_KHOI_LOP] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[LOAI_DIEM]    Script Date: 5/27/2021 10:27:54 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LOAI_DIEM](
	[MA_LOAI_DIEM] [int] IDENTITY(1,1) NOT NULL,
	[TEN_LOAI_DIEM] [nvarchar](50) NULL,
	[HESO] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[MA_LOAI_DIEM] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[LOAI_TAI_KHOAN]    Script Date: 5/27/2021 10:27:54 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LOAI_TAI_KHOAN](
	[MA_LOAI_TAI_KHOAN] [int] IDENTITY(1,1) NOT NULL,
	[TEN_LOAI_TAI_KHOAN] [nvarchar](50) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[MA_LOAI_TAI_KHOAN] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[LOP]    Script Date: 5/27/2021 10:27:54 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LOP](
	[MA_LOP] [int] IDENTITY(1,1) NOT NULL,
	[TEN_LOP] [nvarchar](20) NULL,
	[SI_SO] [int] NULL,
	[MA_HOC_KY] [int] NULL,
	[MA_KHOI_LOP] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[MA_LOP] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[MON_HOC]    Script Date: 5/27/2021 10:27:54 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MON_HOC](
	[MA_MON_HOC] [int] IDENTITY(1,1) NOT NULL,
	[TEN_MON_HOC] [nvarchar](50) NOT NULL,
	[MA_BO_MON] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[MA_MON_HOC] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[NAM_HOC]    Script Date: 5/27/2021 10:27:54 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[NAM_HOC](
	[MA_NAM_HOC] [int] IDENTITY(1,1) NOT NULL,
	[TEN_NAM_HOC] [nvarchar](20) NULL,
	[NAM_BAT_DAU] [int] NULL,
	[NAM_KET_THUC] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[MA_NAM_HOC] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[QUA_TRINH_HOC_HOC_KY]    Script Date: 5/27/2021 10:27:54 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[QUA_TRINH_HOC_HOC_KY](
	[MA_QTHK] [int] IDENTITY(1,1) NOT NULL,
	[DIEM_TB] [float] NULL,
	[MA_LOP] [int] NULL,
	[MA_HOC_SINH] [int] NULL,
	[MA_HANH_KIEM] [int] NULL,
	[MA_XEP_LOAI] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[MA_QTHK] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[QUA_TRINH_HOC_MON_HOC]    Script Date: 5/27/2021 10:27:54 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[QUA_TRINH_HOC_MON_HOC](
	[MA_QTMH] [int] IDENTITY(1,1) NOT NULL,
	[DIEM_TB_MON_HOC] [float] NULL,
	[MA_QTHK] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[MA_QTMH] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TAI_KHOAN]    Script Date: 5/27/2021 10:27:54 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TAI_KHOAN](
	[MA_TAI_KHOAN] [int] IDENTITY(1,1) NOT NULL,
	[TEN_TAI_KHOAN] [nvarchar](50) NOT NULL,
	[MAT_KHAU] [nvarchar](50) NOT NULL,
	[MA_LOAI_TAI_KHOAN] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[MA_TAI_KHOAN] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TON_GIAO]    Script Date: 5/27/2021 10:27:54 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TON_GIAO](
	[MA_TON_GIAO] [int] IDENTITY(1,1) NOT NULL,
	[TEN_TON_GIAO] [nvarchar](50) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[MA_TON_GIAO] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[XEP_LOAI]    Script Date: 5/27/2021 10:27:54 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[XEP_LOAI](
	[MA_XEP_LOAI] [int] IDENTITY(1,1) NOT NULL,
	[TEN_XEP_LOAI] [nvarchar](20) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[MA_XEP_LOAI] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[DIEM]  WITH CHECK ADD  CONSTRAINT [fk_DIEM_LOAI_DIEM] FOREIGN KEY([MA_LOAI_DIEM])
REFERENCES [dbo].[LOAI_DIEM] ([MA_LOAI_DIEM])
GO
ALTER TABLE [dbo].[DIEM] CHECK CONSTRAINT [fk_DIEM_LOAI_DIEM]
GO
ALTER TABLE [dbo].[DIEM]  WITH CHECK ADD  CONSTRAINT [fk_DIEM_QTMH] FOREIGN KEY([MA_QTMH])
REFERENCES [dbo].[QUA_TRINH_HOC_MON_HOC] ([MA_QTMH])
GO
ALTER TABLE [dbo].[DIEM] CHECK CONSTRAINT [fk_DIEM_QTMH]
GO
ALTER TABLE [dbo].[GIANG_DAY]  WITH CHECK ADD  CONSTRAINT [fk_GIANG_DAY_GIAO_VIEN] FOREIGN KEY([MA_GIAO_VIEN])
REFERENCES [dbo].[GIAO_VIEN] ([MA_GIAO_VIEN])
GO
ALTER TABLE [dbo].[GIANG_DAY] CHECK CONSTRAINT [fk_GIANG_DAY_GIAO_VIEN]
GO
ALTER TABLE [dbo].[GIANG_DAY]  WITH CHECK ADD  CONSTRAINT [fk_GIANG_DAY_LOP] FOREIGN KEY([MA_LOP])
REFERENCES [dbo].[LOP] ([MA_LOP])
GO
ALTER TABLE [dbo].[GIANG_DAY] CHECK CONSTRAINT [fk_GIANG_DAY_LOP]
GO
ALTER TABLE [dbo].[GIANG_DAY]  WITH CHECK ADD  CONSTRAINT [fk_GIANG_DAY_MON_HOC] FOREIGN KEY([MA_MON_HOC])
REFERENCES [dbo].[MON_HOC] ([MA_MON_HOC])
GO
ALTER TABLE [dbo].[GIANG_DAY] CHECK CONSTRAINT [fk_GIANG_DAY_MON_HOC]
GO
ALTER TABLE [dbo].[GIAO_VIEN]  WITH CHECK ADD  CONSTRAINT [fk_GIAO_VIEN_BO_MON] FOREIGN KEY([MA_BO_MON])
REFERENCES [dbo].[BO_MON] ([MA_BO_MON])
GO
ALTER TABLE [dbo].[GIAO_VIEN] CHECK CONSTRAINT [fk_GIAO_VIEN_BO_MON]
GO
ALTER TABLE [dbo].[GIAO_VIEN]  WITH CHECK ADD  CONSTRAINT [fk_GIAO_VIEN_DAN_TOC] FOREIGN KEY([MA_DAN_TOC])
REFERENCES [dbo].[DAN_TOC] ([MA_DAN_TOC])
GO
ALTER TABLE [dbo].[GIAO_VIEN] CHECK CONSTRAINT [fk_GIAO_VIEN_DAN_TOC]
GO
ALTER TABLE [dbo].[GIAO_VIEN]  WITH CHECK ADD  CONSTRAINT [fk_GIAO_VIEN_TAI_KHOAN] FOREIGN KEY([MA_TAI_KHOAN])
REFERENCES [dbo].[TAI_KHOAN] ([MA_TAI_KHOAN])
GO
ALTER TABLE [dbo].[GIAO_VIEN] CHECK CONSTRAINT [fk_GIAO_VIEN_TAI_KHOAN]
GO
ALTER TABLE [dbo].[GIAO_VIEN]  WITH CHECK ADD  CONSTRAINT [fk_GIAO_VIEN_TON_GIAO] FOREIGN KEY([MA_TON_GIAO])
REFERENCES [dbo].[TON_GIAO] ([MA_TON_GIAO])
GO
ALTER TABLE [dbo].[GIAO_VIEN] CHECK CONSTRAINT [fk_GIAO_VIEN_TON_GIAO]
GO
ALTER TABLE [dbo].[HOC_KY]  WITH CHECK ADD  CONSTRAINT [fk_HOC_KY_NAM_HOC] FOREIGN KEY([MA_NAM_HOC])
REFERENCES [dbo].[NAM_HOC] ([MA_NAM_HOC])
GO
ALTER TABLE [dbo].[HOC_KY] CHECK CONSTRAINT [fk_HOC_KY_NAM_HOC]
GO
ALTER TABLE [dbo].[HOC_SINH]  WITH CHECK ADD  CONSTRAINT [fk_HOC_SINH_DAN_TOC] FOREIGN KEY([MA_DAN_TOC])
REFERENCES [dbo].[DAN_TOC] ([MA_DAN_TOC])
GO
ALTER TABLE [dbo].[HOC_SINH] CHECK CONSTRAINT [fk_HOC_SINH_DAN_TOC]
GO
ALTER TABLE [dbo].[HOC_SINH]  WITH CHECK ADD  CONSTRAINT [fk_HOC_SINH_TON_GIAO] FOREIGN KEY([MA_TON_GIAO])
REFERENCES [dbo].[TON_GIAO] ([MA_TON_GIAO])
GO
ALTER TABLE [dbo].[HOC_SINH] CHECK CONSTRAINT [fk_HOC_SINH_TON_GIAO]
GO
ALTER TABLE [dbo].[LOP]  WITH CHECK ADD  CONSTRAINT [fk_LOP_HOC_KY] FOREIGN KEY([MA_HOC_KY])
REFERENCES [dbo].[HOC_KY] ([MA_HOC_KY])
GO
ALTER TABLE [dbo].[LOP] CHECK CONSTRAINT [fk_LOP_HOC_KY]
GO
ALTER TABLE [dbo].[LOP]  WITH CHECK ADD  CONSTRAINT [fk_LOP_KHOI_LOP] FOREIGN KEY([MA_KHOI_LOP])
REFERENCES [dbo].[KHOI_LOP] ([MA_KHOI_LOP])
GO
ALTER TABLE [dbo].[LOP] CHECK CONSTRAINT [fk_LOP_KHOI_LOP]
GO
ALTER TABLE [dbo].[MON_HOC]  WITH CHECK ADD  CONSTRAINT [fk_MON_HOC_BO_MON] FOREIGN KEY([MA_BO_MON])
REFERENCES [dbo].[BO_MON] ([MA_BO_MON])
GO
ALTER TABLE [dbo].[MON_HOC] CHECK CONSTRAINT [fk_MON_HOC_BO_MON]
GO
ALTER TABLE [dbo].[QUA_TRINH_HOC_HOC_KY]  WITH CHECK ADD  CONSTRAINT [fk_QTTK_HANH_KIEM] FOREIGN KEY([MA_HANH_KIEM])
REFERENCES [dbo].[HANH_KIEM] ([MA_HANH_KIEM])
GO
ALTER TABLE [dbo].[QUA_TRINH_HOC_HOC_KY] CHECK CONSTRAINT [fk_QTTK_HANH_KIEM]
GO
ALTER TABLE [dbo].[QUA_TRINH_HOC_HOC_KY]  WITH CHECK ADD  CONSTRAINT [fk_QTTK_HOC_SINH] FOREIGN KEY([MA_HOC_SINH])
REFERENCES [dbo].[HOC_SINH] ([MA_HOC_SINH])
GO
ALTER TABLE [dbo].[QUA_TRINH_HOC_HOC_KY] CHECK CONSTRAINT [fk_QTTK_HOC_SINH]
GO
ALTER TABLE [dbo].[QUA_TRINH_HOC_HOC_KY]  WITH CHECK ADD  CONSTRAINT [fk_QTTK_LOP] FOREIGN KEY([MA_LOP])
REFERENCES [dbo].[LOP] ([MA_LOP])
GO
ALTER TABLE [dbo].[QUA_TRINH_HOC_HOC_KY] CHECK CONSTRAINT [fk_QTTK_LOP]
GO
ALTER TABLE [dbo].[QUA_TRINH_HOC_HOC_KY]  WITH CHECK ADD  CONSTRAINT [fk_QTTK_XEP_LOAI] FOREIGN KEY([MA_XEP_LOAI])
REFERENCES [dbo].[XEP_LOAI] ([MA_XEP_LOAI])
GO
ALTER TABLE [dbo].[QUA_TRINH_HOC_HOC_KY] CHECK CONSTRAINT [fk_QTTK_XEP_LOAI]
GO
ALTER TABLE [dbo].[QUA_TRINH_HOC_MON_HOC]  WITH CHECK ADD  CONSTRAINT [fk_QTMH_QTHK] FOREIGN KEY([MA_QTHK])
REFERENCES [dbo].[QUA_TRINH_HOC_HOC_KY] ([MA_QTHK])
GO
ALTER TABLE [dbo].[QUA_TRINH_HOC_MON_HOC] CHECK CONSTRAINT [fk_QTMH_QTHK]
GO
ALTER TABLE [dbo].[TAI_KHOAN]  WITH CHECK ADD  CONSTRAINT [fk_TAI_KHOAN_LTK] FOREIGN KEY([MA_LOAI_TAI_KHOAN])
REFERENCES [dbo].[LOAI_TAI_KHOAN] ([MA_LOAI_TAI_KHOAN])
GO
ALTER TABLE [dbo].[TAI_KHOAN] CHECK CONSTRAINT [fk_TAI_KHOAN_LTK]
GO
USE [master]
GO
